.example-spacer {
    display: flex;
    justify-content: space-between;
}

span {
    padding: 5px 5px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    height: 50px;
    width: 50px;
}